body {
    background-color:  #213555;
    text-align: center;
    margin: 0;
    
}
nav {
    background-color: #c3c3c3;
    padding: 10px;
    border-bottom: solid medium red;
}
.splash {
    background-color: #4F709C;
    padding: 200px 0 0 0;
}
h1 {
    color:#D8C4B6;
}
h2 {
    color:#F5EFE7;
}
